.services-list
    h3.services-title.md-headline Список предоставляемых услуг и цены

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Диагностика автомобилей
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Чип-тюнинг автомобилей
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Заказ и установка запчастей для вашего автомобиля
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Проверка вашего автомобиля толщинометром перед покупкой/продажей
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Помощь при покупке или продаже вашего автомобиля (осмотр авто, недочеты и прочее)
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Обновления навигационных устройств
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Русификация мультимедийных систем
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Раскодировка магнитол
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Восстановление блоков AHLS после аварии
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Восстановление блоков SRS Airbag после аварии
        i.material-icons open_in_new

    a.services-list__item(href='/' target='_blank')
        span.services-list__item-text Выездная диагностика и чип-тюнинг автомобилей (Москва и Московская область)
        i.material-icons open_in_new