.menu
    .menu__item
        a.menu__item-link(ng-click="open('index.html')")
            span.menu__item-title Главная
    .menu__item
        a.menu__item-link(ng-click="open('services.html')")
            span.menu__item-title Услуги
    .menu__item
        a.menu__item-link(ng-click="open('carShop.html')")
            span.menu__item-title Оборудование и ПО
    .menu__item
        a.menu__item-link(ng-click="open('feedback.html')")
            span.menu__item-title Отзывы
    .menu__item
        a.menu__item-link(ng-click="open('contacts.html')")
            span.menu__item-title Контакты

