.menu
    .menu__item
        a.menu__item-link(href='/' target='_blank')
            span.menu__item-title Главная
    .menu__item
        a.menu__item-link(href='/' target='_blank')
            span.menu__item-title Услуги
    .menu__item
        a.menu__item-link(href='/' target='_blank')
            span.menu__item-title Оборудование и ПО
    .menu__item
        a.menu__item-link(href='/' target='_blank')
            span.menu__item-title Отзывы
    .menu__item
        a.menu__item-link(href='/' target='_blank')
            span.menu__item-title Контакты

