.main
    .main__item
        a.main__item-link(ng-click="open('tuning.html')")
            span.main__item-title.md-headline Чип-тюнинг авто
            i.material-icons.main__item-link-icon  build
    .main__item
        a.main__item-link(href='/' target='_blank')
            span.main__item-title.md-headline Диагностика авто
            i.material-icons.main__item-link-icon  warning
    .main__item
        a.main__item-link(ng-click="open('carShop.html')")
            span.main__item-title.md-headline Автозапчасти и ПО
            i.material-icons.main__item-link-icon  settings_system_daydream
    .main__item
        a.main__item-link(href='/' target='_blank')
            span.main__item-title.md-headline Блог/Форум
            i.material-icons.main__item-link-icon forum