.car-shop
    h3.md-headline Оборудование и ПО
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
    .car-shop__item
        a.car-shop__item-link
            span PCMFlash лицензионный софт для чип-тюнинга/ECUFlasher лицензионный софт для чип-тюнинга и прошивки блоков
    .car-shop__item
        a.car-shop__item-link
            span Op-com  дилерский прибор для диагностики Opel Vauxhall
    .car-shop__item
        a.car-shop__item-link(ng-click="open('carShop.html')")
            span Galletto-1260 универсальный интерфейс для чип-тюнинга автомобилей до 2005г.в.
