.diagnostika
    h3.md-headline Диагностика автомобилей в Москве и Московской области
    p Предлагаем вашему вниманию диагностику автомбилей на уровне дилера.
    p Чип-тюнинг, репрограмминг блоков управления, ключи и иммобилайзер, параметрия, кодирование, прошивка блоков SRS, прописка форсунок дизелей, обучение малому впрыску дизелей, калибровка датчиков угла поворота руля, проверка кузова автомобиля толщиномером, и многое другое (уточняйте по телефону).
    p Все виды электрических работ. Возможен выезд по Москве и Московской области от 1000р.
    p Комплексная диагностика от 4000р. Immo от 5000р. Репрограмминг от 6000р.
    .diagnostika__button
        md-button.md-primary.md-raised(ng-href='{{vkUrl}}' target='_blank') Заказать диагностику автомобиля
