.header
    .header__left

        a.header__left-link(href='/' target='_blank')
            img(src='images/logo.jpg')
        a.header__left-link(href='/' target='_blank')
            span.header__left-logo Диагностика
        a.header__left-link(href='/' target='_blank')
            span.header__left-logo Чип-тюнинг
        a.header__left-link(href='/' target='_blank')
            span.header__left-logo.header__left-logo_bold Ivan&Co
    .header__center
        span.header__center-title.header__center_bold  Ivan&Co Вдовенков Иван
        span.header__center-title +7 (901) 713 57 95
        span.header__center-title.header__center_bold chiptuningmoscow@mail.ru
        .header__center-button
            md-button.md-raised.md-primary(ng-href='{{vkUrl}}' target='_blank') Отправить сообщение или сделать заказ

    .header__right
        .header__right-button
            a(href='https://vk.com/diagnostics_chiptuning_moscow' target='_blank')
                img(src='images/vk.png')

