.feedback {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  height: 100%;

  padding: 10px;

    &__link {
      display: flex;
      flex-shrink: 0;

      text-decoration: none;
      color: #0082cf;

      padding: 10px 10px 0 0;
      font-size: 18px;
    }

    &__link-title {
      padding-right: 10px;
    }
}