.feedback
    h3.md-headline Отзывы о нас
    p Отзывы о нашей мастерской
        = ' '
        b.md-title Ivan&Co
        = ' '
        span вы можете прочитать в нашей группе в социальных сетях.

    a.feedback__link(href='https://vk.com/topic-140757909_35307041' target='_blank')
        b.feedback__link-title  Диагностика и чип-тюнинг автомобилей Москва и Московская область
        i.material-icons open_in_new
    p Оставьте нам свой отзыв!
    a(href='images/otzivi.jpg', target='_blank').feedback__link
        img(src='/images/otzivi.jpg', alt='отзывы')

