.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;

  align-items:flex-end;

  background-color: #8fdeff;
  padding: 5px;

  &__left {
    display: flex;

    padding: 10px;
  }

  &__right {
    display: flex;

    padding: 10px;
    color: #47738a;
  }

  &__left-link {
    text-decoration: none;
    color: #47738a;
  }
}