.footer
    .footer__left
        a.footer__left-link(href='/' target='_blank')
            span Карта сайта

    .footer__center
        a.footer__left-link(ng-click="open('err404.html')")
            span Упс...

    .footer__right
        span WebmePro 2017 ©