.blog
    h3.md-headline Блог и форум
    h4 Представляем вашему вниманию мой блог на DRIVE2
    a.blog__link(href='https://www.drive2.ru/b/475047023511339098' target='_blank')
        b.blog__link-title  Диагностика и чип-тюнинг автомобилей Москва и Московская область
        i.material-icons open_in_new
    p
        a.blog__link(href='mailto:chiptuningmoscow@mail.ru' target='_blank') Там вы можете написать мне, пообщаться на актуальные темы и задать интересующие вас вопросы.
    p В своем блоге я освещаю интересные темы, новые возможности приборов и оборудования, как установить прошивку самому и многое другое.
        a(href='images/my_blog.jpg', target='_blank').blog__link
            img(src='/images/my_blog.jpg', alt='мой блог')