.tuning
    .tuning__info
        h3.md-headline
            span Чип-тюнинг автомобилей Москва и Московская область
        h4 Компания Ivan&Co предоставляет услуги по чип-тюнингу автомобилей, в Москве, Московской области и в частности в городе Реутов.
        p Чип-тюнинг легковых автомобилей, грузовых автомобилей, спецтехники, коммерческого транспорта, мотоциклов, квадроциклов, с бензиновыми, дизельными и гибридными ДВС.
        p Nissan, Infiniti, Mitsubishi, Mazda, Renault, Suzuki, Honda, Acura, Toyota, Lexus, Ford, Kia, Hyundai, Mercedes, Volvo, Scania, Камаз, Маз, Паз, Газ, VAG-группа и многие другие.
        p Для бензиновых автомобилей предусмотрено программное отключение каталитического нейтрализатора(Катализатора), задних лямбда-зондов(E2), клапана рециркуляции отработавших газов(EGR), вихревых заслонок впускного коллектора(VSA), ограничителя скорости и др.
        p Для дизельных автомобилей предусмотрено программное отключение сажевого фильтра(DPF), клапана рециркуляции отработавших газов(EGR), вихревых заслонок впускного коллектора(VSA), мочевины, ограничителя скорости и др.
        p Делаем чип-тюнинг большого количества автомобилей, звоните узнавайте, перечислены только основные направления.
        p Осуществляем выезд по Москве и Московской области.
        p Предоставляем гарантию на выполнение работ.

    .tuning__button
        md-button.md-primary.md-raised(ng-href='{{vkUrl}}' target='_blank') Заказать чип-тюнинг