.contacts
    h3.contacts__title.md-headline Наши контакты
    p.md-title Ivan&Co
    a.contacts__link(href='https://vk.com/vdovenkovii' target='_blank')
        h4 Вдовенков Иван
    p Телефоны:
    p +7 (901) 713 57 95
    p +7 (961) 7497654
    p
        a.contacts__link(href='mailto:chiptuningmoscow@mail.ru' target='_blank') Написать нам можно на электронную почту: chiptuningmoscow@mail.ru
    p 09:00 до 21:00 без выходных
    p
        a(href='https://vk.com/diagnostics_chiptuning_moscow' target='_blank').contacts__link
            b Наша группа в контакте
    p Базовый офис: Реутов, Носовихинское шоссе 27.
    a(href='images/karta_diagnostika_tuning.png', target='_blank').contacts__link
        img(src='images/karta_diagnostika_tuning.png', alt='Карта проезда к Базовому Офису')
